@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components {
  .btn-primary {
    @apply text-white bg-blue-800 px-2 rounded-md cursor-pointer;
  }

  .medium {
    @apply max-w-xs w-36 h-9 px-6 whitespace-nowrap text-center items-center cursor-pointer transition-all hover:bg-blue-600 disabled:bg-blue-400 text-blue-50;
  }
}
