@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components {
  .btn-primary {
    @apply bg-green-100 text-green-700 px-2 rounded-md cursor-pointer items-center;
  }

  .medium {
    @apply max-w-xs w-36 h-9 px-6 whitespace-nowrap text-center items-center cursor-pointer transition-colors hover:bg-green-300 disabled:bg-blue-400;
  }

  .underline {
    @apply absolute w-full left-0 right-0 h-1 bg-green-700
    /* position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--accent); */;
  }
}
